
:link,:visited {
    color: #039be5;
    outline: 0;
    text-decoration: none;
  }
  
  /**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.mdl-navigation{
    border-bottom: 1px solid #EFEFEF;
}



.devsite-popout {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24),inset 0 4px 6px -4px rgba(0,0,0,.24);
    margin-top: 57px;
    max-height: calc(100vh - 48px);
    overflow-y: auto;
    position: absolute;
    transition: transform .2s,visibility .2s;
    transform: translateY(0);
    width: 100%;
    z-index: 2;
  }
  
  .devsite-popout-closed {
    transform: translateY(-110%);
    visibility: hidden;
  }
  
  
  .devsite-suggest-results {
    padding: 16px 0 16px 72px;
  }
  
  .devsite-suggest-category,.devsite-suggest-project {
    color: #757575;
    font-size: 12px;
  }
  
  .devsite-suggest-category:not(:first-child),.devsite-suggest-project:not(:first-child) {
    border-top: 1px solid #ebebeb;
    margin: 8px 0 0;
    padding-top: 12px;
  }
  
  .devsite-suggest-item a {
    color: #212121;
    display: block;
    margin-left: -8px;
    outline: 0;
    padding: 8px;
    transition: background .2s;
  }
  
  .devsite-suggest-item.goog-menuitem-highlight a,.devsite-suggest-item a:focus {
    background: #f7f7f7;
    text-decoration: none;
  }
  
  .devsite-suggest-item.goog-menuitem-highlight {
    margin-left: -8px;
    padding-left: 8px;
  }
  
  .devsite-suggest-item b {
    font-weight: 500;
  }
 
  
  .devsite-suggest-footer {
    margin-bottom: -16px;
  }
  
 
  .devsite-suggestion-fragment+.devsite-suggestion-fragment::before {
    content: "|";
    margin: 0 8px;
  }
  
  @media screen and (min-width:720px) {
    .devsite-popout {
        max-width: 500px;
      margin-top:59px;
      margin-left: -64px;
      margin-right: 15px;
      width: calc(100% + 120px);
      right:0;
    }
  
    .devsite-header-billboard-search-wrapper .devsite-popout {
      margin-left: -32px;
    }
  
   
  
    .devsite-suggest-category label {
      font: 14px/22px Roboto,sans-serif;
    }
  }

  
  @media screen and (min-width:850px) {
    .devsite-popout {
      margin-top: 56px;
    }
  }